@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ;
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    line-height: 1.5;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cc063e;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 0.125rem;
}
body {
    margin: 0;
    padding: 0;
    font-family: Inter,sans-serif;
    background-color:#111827;
    color: #c7c7c7;
    overflow-x: hidden;
}
header,section {
  min-height: 100vh;
}
img,
picture,
video {
    max-inline-size: 100%;
    block-size: auto;
}
a {
  text-decoration: none;
  display: block;
  color: inherit;

}
p {
  overflow-wrap: break-word;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
   color: aliceblue;
}
ol,
ul {
  list-style: none;
}
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}
header {
  position: relative;
}
.container {
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation-name: viper;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  padding: 7px;
  position: relative;
}
@keyframes viper{
  0% {
    transform: scale(0.7);  
}
50% {
    transform: scale(1.15);

}}
.nav-bottom {
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  position:fixed;
  bottom: 0;
}
nav img{
  height: 50px;
 }
nav img:hover {
  animation-name: viper-logo;
  animation-duration: 1s;
  animation-timing-function: both;
}
@keyframes viper-logo{
10%, 20% {
    transform: rotate(-2deg);
}
30%, 50%, 70%, 90% {
    transform: rotate(2deg);
}
40%, 60%, 80% {
    transform: rotate(-2deg);
}
100% {
    transform: rotate(0);
}
}
nav ul {
  display: flex;
}
nav ul a{
  height: 70px;
  font-size: 16px;
  padding: 25px 10px;
  transition: 0.4s;
}
nav ul a:hover {
  border-bottom: 2px solid;
  color:#cc063e;
  z-index: 1;
}

.log button:nth-child(1){
  background-color: transparent;
  color: #cc063e;
}

.btn0{
  color: aliceblue;
  background-color: #cc063e;
  padding: 10px 16px;
  border-radius: 0.125rem;
  margin-left: 10px;}
  .fa-angle-down {
    color: #969696;
    position: relative;
    top: 1px;
  }
  .landing h1 {
    text-align: center;
    margin: 3rem 5px;
    color: #cc063e;
    font-weight: 900;
    font-size: 2.75rem;
    animation: title 4s 0.250s ;
  }
    @keyframes title{
      0% {
        transform: scale(0);
    }
    30% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.5);
    }
    100% {
        transform: rotate(1);
    }}
    .landing h1::after {
      content: " ";
      background-image: url(../image/star.png);
    background-size: cover;
    display: block;
    height: 20px;
    width: 20px;
    top: -56px;    
    left: 128px;
    margin: auto;
    animation: star 3s 1s infinite;
    position: relative;
      }
      @keyframes star{
      25% {transform: scale(0);}

      50% {
        transform: rotate(360deg);
        transform: scale(1);
      }
      75% {transform: scale(0);}

    }
     p {
      text-align: center;
      max-width: 500px;
      padding: 45px 15px;
      margin: auto;
    }
.landing-photo {
  background-image: url(../image/land.png);
  box-shadow: 1px 1px 6px 1px;
  aspect-ratio: auto 1920/ 951;
  background-size: cover;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.landing-photo span {
  font-weight: 700;
  font-size: 1.5rem;
  display: block;
  width: 50%;
  padding: 9% 4% 0 0;
  animation-name: text-phone;
  animation-duration: 4s;
}
@keyframes text-phone{
  0% {
  opacity: 0;
  }}
.landing-photo .btn0 {
  margin-left: 0;
  margin-top: 15px;
}
.landing-photo span div {
  color: #cc063e;
  font-weight: 900;
}
.landing-photo img.phone {
  height: 77%;
  position: absolute;
  left: 47%;
  top: 11%;
  animation-name: head;
  animation-duration: 1s;


}
.landing-photo img.head-phone {
  height: 63%;
  position: absolute;
  left: 35%;
  bottom: -17%;
  animation-name: head-add;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.98,.04,1,-0.18);
}
@keyframes head-add{
0% {
  left: 0;
opacity: 0;
}
}
@keyframes head{
0% {
  left: 72%;
opacity: 0;
}}
h3 {
  text-align: center;
  margin: 50px auto;
  font-size: 2.5rem;
  animation-name: text-phone;
  animation-duration: 4s;
  max-width: 800px;
}

.fea {
  display: flex;
  justify-content: center;
}
.fea div {
    text-align: center;
} 
.fea div:nth-child(1)::before,.fea div:nth-child(2)::before{
  content: " ";
  width: 72%;
  border-bottom: 1px dashed #565656;
  position: relative;
  left: 64%;
  top: 32px;
  display: block;

}
.fea div i {
  font-size: 2rem;
    display: flex;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #cc063e;
    justify-content: center;
    align-items: center;
    margin: auto;
}
 h4 {
  padding: 0.5rem;
  font-size: 1.2rem;
}
main {
  padding: 0 1rem;
}
section.one,section.three,section.four {
  padding: 3rem 0;
    max-width: 1100px;
  margin: auto;
  border-bottom: 0.2px solid #322a2a;
  border-top: 0.2px solid #322a2a;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
section.one p{
  margin: 1rem 0;
  text-align: left;
  padding: 0;
}
h5{
  font-family: 'Architects Daughter', sans-serif;
  color: #cc063e;
  font-size: 1.4rem;
  
}
section.one img{
  width: 45%;
}
section.one ul{     
  display: flex;
  flex-wrap: wrap; 
}
section.one div div div span{     
  display: inline;
  color: #cc063e;
}
section.one li{ 
  padding-right: 1rem;
 }
section.one .fa-solid{ 
      color: #00ba00; 
    }
.qoa {
  display: flex;
  padding: 1rem 0;
}
section.one .per {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
section.one .not {
  background-image: url(../image/features.png);
  background-size: cover;
  width: 130%;
  aspect-ratio: 1;
  position: relative;
}
section.one .not::before {
  content: " ";
  width: 30%;
  height: 30%;
  display: block;
  background-color: #cc063e;
  border-radius: 50%;
  position: absolute;
  left: 35%;
  top: 35%;
  animation: path 8s 0s infinite linear;
  transform: translate(-50%,-50%);

}

section.one .not::after {
  content: " ";
  width: 30%;
  height: 30%;
  display: block;
  background-color: #cc063e;
  border-radius: 50%;
  position: absolute;   
  left: 35%;
  top: 35%;
  animation: path 8s -4s infinite linear;
  transform: translate(-50%,-50%);

}
section.one .not .path1{
  width: 30%;
  height: 30%;
  display: block;
  background-color: #cc063e;
  border-radius: 50%;
  position: absolute;   
  left: 35%;
  top: 35%;
  animation: path 8s -2s infinite linear;
  transform: translate(-50%,-50%);

}
section.one .not .path2{
  width: 30%;
  height: 30%;
  display: block;
  background-color: #cc063e;
  border-radius: 50%;
  position: absolute;   
  left: 35%;
  top: 35%;
  transform: translate(-50%,-50%);
  animation: path 8s -6s infinite linear;
}
@keyframes path{
  0% {
      opacity: 0;
      transform: scale(.1);
  }
  40% {
      opacity: 1;
  }
  
  60% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: scale(2);
  }}
  .quick {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .quick div {
    display: inline-flex;
    align-items: center;
    background-color: #352e2e;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;
  }
  .quick div .fa-solid{
    color: #cc063e;
    padding-right: 0.5rem;
  }
  .des {
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding: 2rem 0;
  }
  .des .desc {
    padding: 2rem;
    background-color: rgb(37 40 44);
  }
  .des .desc p,.four p{
    text-align: left;
    padding-left: 0;
    padding-top: 0.5rem;
  }
  .des .btn0 {
    margin-left: 0;
  }
  .des img {
    width: 50%;
  }
  @media (max-width:850px){
    .des {
      flex-direction: column-reverse;
    }
    .des img {
      width: 100%;
    }
  }
  .three {
    flex-direction: column;
  }
  .contain {
    display: flex;
    gap: 1rem;
  }
  .three .group-photos {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
  }
  .three .group-photos .photo1 {
    background-image: url(../image/photo3.jpg);
    background-size: cover;
    height: 246px;
    aspect-ratio: 1;
    position: absolute;
    bottom: 10%;
    left: 10%;
    
  }
  .three .group-photos .photo2 {
    background-image: url(../image/photo1.jpg);
    background-size: cover;
    height: 255px;
    aspect-ratio: 1;
    position: absolute;
    bottom: 42%;
    left: 39%;
    
  }
  .three .group-photos .photo3 {
    background-image: url(../image/photo2.jpg);
    background-size: cover;
    height: 260px;
    aspect-ratio: 1;
    position: absolute;
    bottom: 50%;
    left: 0;
    
  }
  .three .devsign{
    flex: 1 1;
    margin: 2rem;
    }
  .three ul{
    list-style: square;
    }
  .three ul li:nth-child(1)::marker {
    color:red;
  }
  .three ul li:nth-child(2)::marker {
    color:rgb(42, 15, 252)
  }
  .three ul li:nth-child(3)::marker {
    color:rgb(255, 187, 14)
  }
  .three h4 {
    padding-left: 0;
  }
  .three li {
    padding-bottom: 2rem;
  }
  @media (max-width: 992px) {
    .contain {
    
      flex-direction: column;
}}
.four {
  flex-direction: column;
}
.four .group-four {
display: flex;
gap:1rem;
}
.four .group-four div {
  flex:1 1;
  overflow: hidden;
}
.four .group-four div .img{
  height:270px ;
  width: 100%;
  transition:all 0.3s;
  animation: shap 5s infinite linear;
}
@keyframes shap{
  0% {
    
  }
  100% {
  }

}
.four .group-four div .img:hover {
  transform: translate(0,0) skewX(0) skewY(0) scale(1.05);
}
.type {
  display: flex;
  padding-top: 0.5rem;
}
.type h6 {
  padding: 0.2rem 0.4rem;
    width: fit-content;
    border-radius: 1rem;
    margin-left:0.5rem;
}
.type h6.headphone {
  background-color: #00ba00;
}
.type h6.speaker {
  background-color: #e91e63;
}
.type h6.microphone {
  background-color: #4C3DFE;
}
.type h6.airpod {
  background-color: #dc9300;
}
section.four .per {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 1rem;
}
.four .group-four p{
  padding-bottom: 0.5rem;
}
.contact {
  display: flex;
  background-color: #cc063e;
  width: 100%;
  align-items: center;
  padding: 2rem 3rem;
  margin:2rem 0;
  position: relative;
}
.contact::before {
  content: " ";
  background-image: url(../image/addtion.png);
  background-size: cover;
  height: 13rem;
  position: absolute;
  aspect-ratio: 1;
  right: -3rem;
  bottom: 26%;
  transform: translateY(50%);
  display: block;
}
.contact h4 {
font-size: 2rem;
}
.contact .feild-title {
  width: 45%;
}
.contact .feild {
  flex:1 1;
  z-index: 1;
  width: 100%;
}
.btn1 {
  padding: 0.8rem 1rem;
  color: #cc063e;
  font-weight: 600;
  transition: all 0.5s;
}
.btn1:hover {
  color: white;
  box-shadow: inset 58px 0px 0px 0px #cc063e, inset -58px 0px 0px 0px #cc063e;
  border: 1px solid white;
}

.contact input {
  padding: 0.8rem 1rem;
  background-color: #890027;
  width: 65%;
  color:aliceblue;
}
.contact input::placeholder{
  color:rgb(217, 220, 222);
}
.part-1 {
  display: flex;
    flex-wrap: wrap;
}
.part-1 img {
  height: 2rem;
}
.part-1 .section-2 {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.part-2 {
  display: flex;
  margin-top: 1rem;
}
.part-2 span {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: right;
  flex: 1 1;
  align-items: center;
}
.icons-footer {
    width: 2.5rem;
    height: 2.5rem;
    background-image: linear-gradient(1deg, #565656, #c7c7c7,#565656);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 12px 2px black;
}
.icons-footer i {
  color: aliceblue;
    font-weight: 300;
    background-image: linear-gradient(170deg,#454141, #404040, #454141);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.icons-footer i:hover{
  color: #cc063e;
}
@media (max-width: 1100px) {
  .part-1 p {
    max-width: 100%;
  }
}











/* MQ */

 /* mini mobil  */
 @media (max-width: 500px) {
  .three .group-photos{
    width: 300px;
    height: 300px;
  }
  .three .group-photos .photo1{
    height: 146px;
  }
  .three .group-photos .photo2{
    height: 155px;
  }
  .three .group-photos .photo3{
    height: 160px;
  }
  .contact {
    padding: 1rem 1rem;
  }
  .contact input {
    width: 100%;
  }
  .feild .btn1 {
    display: block;
    margin: auto;
  }

}
 /* mobil  */
 @media (max-width: 767px) {
    .container,.landing-photo {
        max-width: auto;
        margin: 0.2%;
        padding: 5px;
    }header .container ul {
      display: none;
    }
    .fea ,.contact {
      flex-direction: column;
    }
    .fea div:nth-child(1)::before,.fea div:nth-child(2)::before{
    display: none;
    } 
    section.one {
      flex-direction: column-reverse;
    }
    section.one .not {
      width: 90%;
    }
  section.one .not .path2,section.one .not .path1,section.one .not::before,section.one .not::after {
      left: 35%;
    top: 35%;
    }
    .landing-photo {
      margin-left: 4.2%;
    }
    .landing-photo span {
      font-size: 1rem;
    }
    .landing-photo .btn0 {
      padding: 8px 12px;
    }
    .four .group-four {
      flex-direction: column;
    }
    .four .group-four .type {
      max-width: 450px;
    }
    .contact .feild-title {
      width: 100%;
    }
    .part-2 {
      flex-direction: column-reverse;
      align-items: center;
    }
    .part-2 span {
      justify-content: center;
    }
    .contact::before {
      right: -1rem;
   }

  }

 /* Small Screens.  */

 @media (min-width: 768px ) {
    .container,.landing-photo {
        width: 750px;
    }
    
}
/* Medium Screens */

@media (min-width: 992px) {
    .container,.landing-photo {
        width: 970px;
    }
}
/* Large Screens */

@media (min-width: 1200px) {
    .container {
        width: auto;
        padding: 0 110px;
    }
    .landing-photo {
        width: 1100px;
        padding: 0 110px;
    }
   
}